<a href="https://colab.research.google.com/github/Reptilefury/coursera-machine-learning/blob/main/Brisk_Introduction_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a = 99

In [3]:
type(a)

int

In [4]:
b =99.0

In [5]:
type(b)

float

In [6]:
float('1')

1.0

In [9]:
int('1')

1

In [11]:
a + b
a * b

9801.0

In [12]:
#Dividing an int by an int also gives a float
1 /2

0.5

If you only want the integer part of the division use //floor division

In [13]:
1//2

0

Function to round off floatin point numbers

In [16]:
5 /2
round(5 /2,0)

2.0

% operator gives you the remainder of an integer operator. This is also called modulus

In [17]:
5 % 2

1

In [18]:
5 % 2.0

1.0

True and False are objects in python that are of type bool

In [20]:
type(True) #Boolean data type in Python

bool

In [21]:
type(False)

bool

In [24]:
print(True == False)
print(True == True)
print(False  == False)

False
True
True

None is a special object in python to mean that no value resulted from an operation or to mean that we do not have a value for a parameter

In [25]:
type(None)

NoneType

In [26]:
a  = 1 
a

1

In [27]:
#Double == equal sign is used for testing equality 
a == 1

True

In [28]:
a == b

False

In [29]:
a != 1

False

In [30]:
7 + 7

14

In [36]:
print("3 == 2 gives:", 3 == 2)
print("3 != 2 gives:",3 != 2)
print('2 < 3 gives:', 2<3)
print('2>3 gives:',2>3)
print('2<=2',2<=2)
print('2>=2',2>=2)

3 == 2 gives: False
3 != 2 gives: True
2 < 3 gives: True
2>3 gives: False
2<=2 True
2>=2 True

Logical operators are like comparison operators but they ask logical questions

In [41]:
print('True and True', True and True)
print('True and False', True and False)
print('False and True', False and True)
print('False and false', False and False)

True and True True
True and False False
False and True False
False and false False

The operator only works on a value to its left and Flips a True value to false and a false value to true

In [43]:
print('not True',not True)
print('not False', not False)

not True False
not False True

In [45]:
my_var = 10 
if my_var == 10:
  print("This conditional statements is true")
  print("My_var does equal to 10")

This conditional statements is true
My_var does equal to 10

In [46]:
my_var = 8 
if my_var == 10:
  print('This conditional statement is true!')
  print("My_var does equal to true")

In [48]:
my_var = 1 
if my_var == 10:
  print("This statement is true")
  print('my_var does equal to 10')
else:
  print('My var does not equal to 10')
  print('This statement is not equal True')

My var does not equal to 10
This statement is not equal True

In [51]:
my_var  = 12
if my_var == 10:
  print("This statement is true")
  print('My var does equal to 10')
elif my_var == 12:
    print('This statement is true')
    print('My var does equal to 12')
elif my_var == 11:
    print('This statement is equal 11')
    print('This statement is true my var does equal to 11')
else:
    print('All these statements are false')

This statement is true
My var does equal to 12

In [52]:
last_but_one = 0 
fibonnaci = 1
while fibonnaci<1000:
  last_but_two = last_but_one 
  last_but_one = fibonnaci
  fibonnaci = last_but_two + last_but_one
  print("largest fibonacci is < 1000",last_but_one)

largest fibonacci is < 1000 1
largest fibonacci is < 1000 1
largest fibonacci is < 1000 2
largest fibonacci is < 1000 3
largest fibonacci is < 1000 5
largest fibonacci is < 1000 8
largest fibonacci is < 1000 13
largest fibonacci is < 1000 21
largest fibonacci is < 1000 34
largest fibonacci is < 1000 55
largest fibonacci is < 1000 89
largest fibonacci is < 1000 144
largest fibonacci is < 1000 233
largest fibonacci is < 1000 377
largest fibonacci is < 1000 610
largest fibonacci is < 1000 987

In [54]:
my_list = [9, 4, 7, 0, 8]
type(my_list)

list

Elements in a list object can be of any type: including another list

In [60]:
mixed_list = [9, 4, 7, 0, 8, True, my_list] #Creates a copy of the previous list otherwise it changes the values of the previous lists
type(my_list)
mixed_list

[9,
 4,
 7,
 0,
 8,
 True,
 [9,
  4,
  7,
  0,
  8,
  True,
  [9, 4, 7, 0, 8, True, [9, 4, 7, 0, 8, True, [9, 4, 7, 0, 8]]]]]

In [62]:
#We can use a for loop to iterate over a list
for e in my_list:
  print(e) 

for e in mixed_list:
  print(e)

9
4
7
0
8
True
[9, 4, 7, 0, 8, True, [9, 4, 7, 0, 8, True, [9, 4, 7, 0, 8]]]
9
4
7
0
8
True
[9, 4, 7, 0, 8, True, [9, 4, 7, 0, 8, True, [9, 4, 7, 0, 8, True, [9, 4, 7, 0, 8]]]]